{% extends "tracker/base.html" %}
{% load static %}
{% block content %}
<input id="current_filter" type="hidden" name="sf" value="{{ active_filter.id|default:'' }}">
{% include "tracker/partials/page_head.html" with title="My items" subtitle="Manage your personal queue and active work." %}
<a class="btn mb-2" href="{% url 'useritem_add' %}">➕ Add to my list</a>
{% include "tracker/partials/action_bar.html" %}
<div id="dash-fragment">
  {% include "tracker/partials/useritem_filter_bar.html" %}
  {% include "tracker/partials/useritem_table.html" %}
</div>
{% endblock %}
