{% extends "tracker/base.html" %}
{% load static %}
{% block content %}
<h1 class="text-xl font-semibold mb-4">My items</h1>

<div class="flex gap-8">
  <!-- remove this bit when the filter bar is populated by a filter, this makes the filter bar the canonical source of truth -->
  <input id="current_filter" type="hidden" name="filter" value="{{ request.GET.filter|default:'' }}">

  <!-- left sidebar: saved filters -->
  <aside class="w-56">
    <h2 class="font-medium mb-2">Saved filters</h2>
    <ul id="saved-filters" class="space-y-1">
      {% for sf in saved_filters %}
        <li>
          <!-- <a -->
          <!--   hx-get="{% url 'useritem_dashboard' %}?filter={{ sf.pk }}" -->
          <!--   hx-target="#item-table" -->
          <!--   hx-swap="outerHTML" -->
          <!--   hx-push-url="true" -->
          <!--   class="text-blue-600 hover:underline" -->
          <!-- > -->
          <!--   {{ sf.name }} -->
          <!-- </a> -->
          <a
              href="{% url 'useritem_dashboard' %}?filter={{ sf.pk }}"
              class="text-blue-600" hover:underline"
          >
            {{ sf.name }}
          </a>
        </li>
      {% empty %}
        <li class="text-sm text-gray-400">None yet</li>
      {% endfor %}
    </ul>
  </aside>

  <!-- main column -->
  <section class="flex-1">
    <a class="btn mb-2" href="{% url 'useritem_add' %}">➕ Add to my list</a>
    <div id="dash-fragment">
    {% include "tracker/partials/useritem_filter_bar.html" %}
    {% include "tracker/partials/action_bar.html" %}
    {% include "tracker/partials/useritem_table.html" %}
  </section>

</div>
{% endblock %}
